<h1>New Food</h1>

<%= form_with model: @food, url: food_index_path do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder: "name" %>
  </div>
  <div class="mb-3">
    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit, class:"form-control", placeholder: "measurement unit" %>
  </div>
  <div class="mb-3">
    <%= form.label :price %>
    <%= form.text_field :price, class:"form-control", placeholder: "price" %>
  </div>
  <div class="mb-3">
    <%= form.submit  "Add Food", class:"btn btn-primary", data: { turbo: false } %>
  </div>
<% end %>
