<h1>New Ingredient for <%= @recipe.name %> </h1>
<p>
  If you need an ingredient that isn't in the list, you can add it 
  <%= link_to "here.", food_index_path %>
</p>
<% if @foods.blank? %>
  <p>The list of available ingredients is empty!</p>
<% else %>
  <p>Choice one of the following ingredients:</p>
  <%= form_with model: @recipe_food, url: recipe_recipe_foods_path(@recipe.id), method: :post do |form| %>
    <%= form.collection_radio_buttons :food_id, @foods, :id, :name_with_unit do |item| %>
      <%= item.label { item.radio_button + " " + item.text } %><br>
    <% end %>
    <br>  
    <%= form.label :quantity, "Quantity (in the corresponding unit)" %><br>
    <%= form.number_field :quantity %><br>
    <br>
    <%= form.submit "Add Ingredient" %>
  <% end %>
<% end %>